  <section ng-controller="ActivityController">


  <h2 class="username-subheader">Shea Wolf</h2>
  <h2 class="activity-subheader">{{activity.activity_name}}activity</h2>
  <ul class="event-list">
    <li class="event-list" ng-repeat="log in activity.logs">
        <p class="log-info">On {{log.activity_date}}</p>
        <div id="show-count" class="show-count active">
          <p class="log-info log-info-count"> {{log.activity_count}}</p>
          <a class="log-info" href="#show-count"><button type="button" name="update">Update</button></a>
        </div>
        <div id="update-count" class="update-count">
          <input class="log-info-count" type="number" name="count" placeholder="#count">
          <a class="update-info" href="#update-count"><button type="submit" name="submit">Submit</button></a>
        </div>
    </li>
  </ul>
  </section>
