
          <form class="login">
            <label class="login" for="login">Login</label>
            <div class="login-user">
              <input class="login-user" type="text" name="username" placeholder=" user name">
            </div>
            <div class="login-password">
              <input class="login-password" type="text" name="password" placeholder=" password">
            </div>
            <button class="login" type="button" name="login">Login</button>
          </form><!--end form login-->

          <form class="register">
            <label class="register" for="register">Register</label>
            <div class="register">
              <input class="register-user" type="text" name="username" placeholder=" username">
            </div>
            <div >
              <input class="register-password" type="text" name="password" placeholder=" password">
            </div>
            <div >
              <input class="register-password" type="text" name="password" placeholder=" retype password">
            </div>
            <button class="register" type="button" name="register">Register</button>
          </form><!--end form register-->
