.stattracker2000 {
  text-align: center;
  font-family: 'Roboto Mono' ;
  padding-bottom: 1ex;
  border-bottom: 1px solid #928999;
  font-size: 2.2em;
  color: #928999;
}

.fa.fa-spin {
  font-size: 10em;
  color: lightgray;
  text-align: center;
  width: 100%;
  margin-top: 1ex;
}
