label.login{
  font-family: 'Roboto Mono';
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  width: auto;
  font-size: 1.2em;
}
input.login-user{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  width: 50%;
  height: 5ex;
  font-size: 1em
}
input.login-password{
  margin-left: 25%;
  width: 50%;
  height: 5ex;
  font-size: 1em;

}

button.login{
  background-color: lightgray;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
  height: 5ex;
  font-size: 1em;
}

label.register{
  font-family: 'Roboto Mono';
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  width: auto;
  font-size: 1.2em;
}

input.register-user{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  width: 50%;
  height: 5ex;
  font-size: 1em;
}
input.register-password{
  margin-left: 25%;
  width: 50%;
  margin-bottom: 5%;
  height: 5ex;
  font-size: 1em;
}
button.register{
  background-color: lightgray;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
  height: 5ex;
  font-size: 1em;
}
