.login {
  width: 100%;
  height: 4ex;
  margin: 0 auto;
  display: block;
  .new-activity {
    font-family: 'Roboto Mono';
    width: 100%;
    height: 4ex;
    margin: 0 auto;
    font-size: 2em;
    display: block;
    text-align: center;
  }
}
